/* Calendar.module.css */
.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* background-color: #f0f0f0;
  border-radius: 6px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reactCalendar {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border: none;
  border-radius: 6px;
}

/* Increase specificity */
.reactCalendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reactCalendar .react-calendar__month-view__days__day {
  color: #007bff;
}

.reactCalendar .react-calendar__tile--active {
  background-color: #ff4800 !important;
  color: white !important;
  border-radius: 50% !important;
}

.reactCalendar .react-calendar__tile--now {
  background-color: #ffcc00 !important;
  color: white !important;
}
